*/target/**
*/.project
*/.classpath
*/.settings
*/.cache
#*/.DS_Store*
#**/.DS_Store*
**/.idea
.idea
*.iml
target
.DS_Store
DLL/ipch/*
DLL/Release/*
DLL/x64/*
DLL/Release/*
DLL/Release/JDokan.Build.CppClean.log
*.log